<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Closed</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <main>
      <h1>Closed</h1>
      <p>This web application is only available during working hours (Monday to Friday,  from 9am to 5pm)</p>
      
    </main>
  </body>
</html>
