<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CServices</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Our Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Our Services</h1>
      <p>We provide a wide selection of services, including:</p>
      <ul>
        <li>Routing</li>
        <li>Adcanced Routing</li>
        <li>Middleware</li>
      </ul>
    </main>
  </body>
</html>
